<!doctype html>
<html lang="<%= site.locale %>" data-theme="retro">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> h-screen flex flex-col">
    <div class="mb-auto">
      <div class="flex">
        <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
      </div>

      <main>
        <%= yield %>
      </main>
    </div>
    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
