---
layout: page
title: ''
---
<% ordinalise = -> (day) {
  case day
  when day == 1 then 'st'
  when day == 2 then 'nd'
  when day == 3 then 'rd'
  else 'th'
  end
} %>

<div class="grid md:grid-cols-3 gap-x-4 gap-y-6">
  <% collections.posts.resources.each do |post| %>
    <a href="<%= post.relative_url %>" class="flex flex-col border border-black rounded-sm hover:shadow-none shadow-md transition duration-500 ease-in-out">
      <div class="w-full h-auto overflow-hidden">
        <img class="object-contain" src="<%= relative_url "images/#{ post.data.headshot }" %>">
      </div>
      <div class="px-2 my-3 mb-6">
        <h2 class="mb-1 font-mono text-xl"><%= post.data.title %></h2>
        <p class="text-sm"><%= post.data.date.strftime("%a %-d#{ordinalise.call(post.data.date.day)} %B %Y") %></p>
      </div>
      <div class="px-2 pb-2.5 mt-auto flex space-x-1">
        <% [post.data.categories, post.data.tags].flatten.each do |tag| %>
          <span class="py-1.5 px-2 rounded-full text-xs font-mono bg-gray-900 font-bold text-white">
            <%= tag.upcase %>
          </span>
        <% end %>
      </div>
    </a>
  <% end %>
</div>