---
layout: page
title: ''
---
<% ordinalise = -> (day) {
  case day
  when day == 1 then 'st'
  when day == 2 then 'nd'
  when day == 3 then 'rd'
  else 'th'
  end
} %>

<div class="grid md:grid-cols-3 gap-x-4 gap-y-6">
  <% collections.posts.resources.each do |post| %>
    <a href="<%= post.relative_url %>">
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img
            src="<%= relative_url "images/#{ post.data.headshot }" %>"
            alt="Shoes" />
        </figure>
        <div class="card-body !bg-white">
          <h2 class="card-title"><%= post.data.title %></h2>
          <p><%= post.data.date.strftime("%a %-d#{ordinalise.call(post.data.date.day).sub(/\w+/, '<sup>\0</sup>')} %B %Y").html_safe %></p>
          <div class="card-actions justify-end">
            <% [post.data.categories, post.data.tags].flatten.each do |tag| %>
              <div class="badge badge-primary"><%= tag.upcase %></div>
            <% end %>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>